@import 'tailwindcss';

.notice-container {
  @apply flex w-full flex-col items-end justify-center pt-1 pr-20 text-center font-semibold text-black;

  button {
    @apply mt-4 rounded-lg bg-blue-400 px-4 py-2 text-white transition duration-300 ease-in-out hover:bg-blue-300;
  }

  input {
    @apply mt-4 rounded-lg border border-gray-300 bg-white px-4 py-2 text-gray-700 transition duration-300 ease-in-out focus:border-blue-400 focus:outline-none;
  }
}

/* 1170px 이하일 때의 스타일 */
@media (max-width: 1170px) {
  .notice-container {
    @apply flex-row items-center gap-4;

    button,
    input {
      @apply mt-0; /* 상단 여백 제거 */
    }

    input {
      @apply w-auto; /* 입력창 너비 자동 조정 */
    }
  }
}
