@import 'tailwindcss';

.modal-overlay {
  @apply fixed inset-0 flex items-center justify-center bg-gray-500/50 font-bold backdrop-blur-xs;
}

.modal-container {
  @apply relative w-[400px] rounded-lg bg-white p-5 opacity-100 shadow-lg;
}

.modal-form label {
  @apply mb-4 flex flex-col;
}

.modal-form input[type='text'] {
  @apply mt-1 rounded-md border border-gray-300 px-3 py-2 focus:border-transparent focus:ring-2 focus:ring-blue-500 focus:outline-none;
}

.modal-form input[type='file'] {
  @apply hidden;
}

.preview-image {
  @apply h-[100px] w-[100px] object-cover;
}

.img-label {
  @apply mt-2 cursor-pointer rounded bg-gray-300 px-6 py-2 text-gray-900 transition-all duration-200 ease-in-out hover:bg-green-500 hover:text-white active:translate-y-0.5 active:transform active:bg-green-600 active:shadow-inner;
}

.button-container {
  @apply mt-4 space-x-2 text-right;
}

.button-container button {
  @apply rounded-md px-4 py-2 transition-colors duration-200 first:bg-blue-500 first:text-white last:bg-gray-300 last:text-gray-700 first:hover:bg-blue-600 last:hover:bg-gray-400;
}
